<!DOCTYPE html>
<html>
<head>
  <title>Wladder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="page">
	<header>
		<h1>Wladder Game</h1>
		<p>
			In order to win the game, you must change the start word into the end word progressively, creating an existing word at each step. Each step consists of a single letter substitution.
		</p>
	</header>
	<%= yield %>
</div>

</body>
</html>
